{% extends 'nutrition/nutrition_base.html' %}
{% block nutplan %}


<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a Plan</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'nutrition/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is A plan?</h3>
                    <p>That's the first step for making your client the desired nutrition</p>
                    <h3>How do I nutrition plans?</h3>
                    <p>First, you'll need to create the plan. then the option of adding nutrition menues will be avilable.</p>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
