{% extends  "appoint_base.html" %}
{% load i18n  %}
{% load staticfiles %}

{% block content %}


{% if messages %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
                {% for message in messages %}
                <p {% if message.tags == "success" %} class="alert alert-success" {% endif %}> {{ message }}</p>
                {% endfor %}
        </div>
    </div>
{% endif %}

<div class="container">
    <h3>Here are your scheduled appointments for today</h3>
    <h4><i>Date and time right now: {% now "jS F Y H:i" %} </i></h4>
    <br>
    <div class="container">
        <table style="width:100%;" class="table">
            <thead>
                <th>Task</th>
                <th>Date</th>
                <th>Time</th>
                <th>Created By</th>
            </thead>
            <tbody>
                {%for event in events_today%}
                <tr>
                    <td>{{event.task}}</td>
                    <td>{{event.date}}</td>
                    <td>{{event.time}}</td>
                    <td>{{ event.user }}</td>
                    <td>
                    {% if user.is_superuser %}
                    <div>
                        <a href="{% url 'appointments:delete_event' event.id %}"
                           title="{% trans 'Delete' %}">
                          <span class="glyphicon glyphicon-trash"></span>&nbsp;</a>
                        <a href="{% url 'appointments:edit_event' event.id %}"
                           title="{% trans 'edit' %}">
                          <span class="glyphicon glyphicon-pencil"></span>&nbsp;</a>
                    </div>
                    {% endif %}
                </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
    <h3>Here are your other appointments</h3>

    <div class="container">
        <table style="width:100%;" class="table">
            <thead>
                <th>Task</th>
                <th>Date</th>
                <th>Time</th>
                <th>Created By</th>
            </thead>
            <tbody>
                {%for later in events_later%}
                <tr>
                    <td>{{later.task}}</td>
                    <td>{{later.date}}</td>
                    <td>{{later.time}}</td>
                    <td>{{ later.user }}</td>
                    <td>
                    {% if user.is_superuser %}
                    <div>
                        <a href="{% url 'appointments:delete_event' later.id %}"
                           title="{% trans 'Delete' %}">
                          <span class="glyphicon glyphicon-trash"></span>&nbsp;</a>
                        <a href="{% url 'appointments:edit_event' later.id %}"
                           title="{% trans 'Edit' %}">
                          <span class="glyphicon glyphicon-pencil"></span>&nbsp;</a>
                    </div>
                    {% endif %}
                </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>



    {% if user.is_superuser %}
         <div class="col-sm-4">
            <br>
            <a href="{% url 'appointments:create_event' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Plan
                </button>
            </a>
         </div>
            {% endif %}

{% endblock %}
