{% extends  "appoint_base.html" %}
{% load i18n  %}
{% load staticfiles %}

{% block content %}


{% if messages %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
                {% for message in messages %}
                <p {% if message.tags == "success" %} class="alert alert-success" {% endif %}> {{ message }}</p>
                {% endfor %}
        </div>
    </div>
{% endif %}
{% if upcoming_events  %}
<div class="container">
    <h3>Upcoming events</h3>

    <br>
    <div class="container">
        <table style="width:100%;" class="table">
            <thead>
                <th>Task</th>
                <th>Date</th>
                <th>Time</th>
                <th>With</th>
                <th>Created By</th>
            </thead>
            <tbody>
                {%for event in upcoming_events %}
                <tr>
                    <td>{{event.task}}</td>
                    <td>{{event.date}}</td>
                    <td>{{event.time}}</td>
                     <td>{{event.user}}</td>
                    <td>{{ event.sender.get_full_name }}</td>
                    <td>
                    {% if user.is_superuser %}
                    <div>
                        <a href="{% url 'appointments:delete_event' event.id event.user %}"
                           title="{% trans 'Delete' %}" onclick="return confirm('Are you sure you wish to delete this Appointmennt?')">
                          <span class="glyphicon glyphicon-trash"></span>&nbsp;</a>
                        <a href="{% url 'appointments:edit_event' event.id event.user %}"
                           title="{% trans 'edit' %}">
                          <span class="glyphicon glyphicon-pencil"></span>&nbsp;</a>
                    </div>
                    {% endif %}
                </td>
                </tr>


                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{% else %}
                   <div class="list-group">
    {% trans 'No upcoming events' %}
    </div>
{% endif %}


{% if previous_events  %}
    <h3>Previous events</h3>

    <div class="container">
        <table style="width:100%;" class="table">
            <thead>
                <th>Task</th>
                <th>Date</th>
                <th>Time</th>
                 <th>Invited</th>
                <th>Created By</th>
            </thead>
            <tbody>
                {%for later in  previous_events %}
                <tr>
                    <td>{{later.task}}</td>
                    <td>{{later.date}}</td>
                    <td>{{later.time}}</td>
                     <td>{{later.user}}</td>
                    <td>{{ later.sender.get_full_name }}</td>
                    <td>
                    {% if user.is_superuser %}
                    <div>
                        <a href="{% url 'appointments:delete_event' later.id later.user %}"
                           title="{% trans 'Delete' %}" onclick="return confirm('Are you sure you wish to delete this Appointment?')">
                          <span class="glyphicon glyphicon-trash"></span>&nbsp;</a>
                        <a href="{% url 'appointments:edit_event' later.id later.user %}"
                           title="{% trans 'Edit' %}">
                          <span class="glyphicon glyphicon-pencil"></span>&nbsp;</a>
                    </div>
                    {% endif %}
                </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

 {% else %}
    <div class="list-group">
    {% trans 'No previous events' %}
    </div>
    {% endif %}

    {% if user.is_superuser %}
         <div class="col-sm-4">
            <br>
            <a href="{% url 'appointments:create_event' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Scehdual new meeting
                </button>
            </a>
         </div>
            {% endif %}

{% endblock %}
