{% load staticfiles %}
{% load static i18n humanize %}
{% load thumbnail %}

<li>
  {% thumbnail message.sender.picture "x45" as im %}
    <img class="picture" src ="user.userprofileinfo.profile_pic.url" alt="{% trans 'Picture Profile' %}">
  {% empty %}
    <img class="picture" src="/media/user_pic/user.png" height="45px" alt="{% trans 'No Profile Picture' %}" />
  {% endthumbnail %}
  <div>
    <b>
      <a href="{% url 'accounts:detail' message.sender.username  %}">{{ message.sender.get_profile_name|title }}</a>
    </b>
    <small> - {{ message.timestamp|date:'N d G:i' }}</small>
    <br>
    {{ message.message }}
  </div>
</li>