{% extends "groups/group_detail_base.html" %}
{% load static %}
{% load staticfiles %}
{% load i18n %}


{% block head %}
  <link href="{% static 'posts/css/posts.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'posts/js/posts.js' %}?v=1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


{% endblock head %}

{% block pregroup %}

{% endblock %}

{% block group_content %}
    <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="page-header">
        <button type="button" class="btn btn-primary pull-right btn-compose" title="{% trans 'Press Ctrl + P to compose' %}">
          <span class="glyphicon glyphicon-share-alt"></span> {% trans 'Compose' %}
        </button>
        <h1>{% trans 'Feed' %}</h1>
      </div>

      <div class="panel panel-default panel-feed">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Latest posts' %}</h3>
        </div>
        <div class="panel-body">

          <div class="compose">
            <h2>{% trans "Compose a new post" %}</h2>
            <form enctype="multipart/form-data" role="form" method="post" id="compose-form" action="{% url 'posts:create' pk=group.pk %}">
              {% csrf_token %}
              <input type="hidden" name="last_feed">
              <div class="form-group">
                    <input type="hidden" name="feed" value="{{ group.pk }}">
                <textarea class="form-control" rows="3" name="message"></textarea>
                  <input type="file" name="post_pic">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-post"  value="Post">
                  <span class="glyphicon glyphicon-send"></span> {% trans 'Post' %}
                </button>
                <button type="button" class="btn btn-default btn-cancel-compose">{% trans 'Cancel' %}</button>
                <span class="help-block help-count pull-right">255</span>
              </div>
            </form>
          </div>
          <div class="stream-update">
            <a href="#"><span class="new-posts"></span> {% trans 'new posts' %}</a>
          </div>
   <ul class="stream">
    {% if group.posts.count == 0 %}
        <h2>No posts in this group yet!</h2>
    {% else %}

        {% for post in group.posts.all %}
        <li>    {% include "posts/_post.html" %} </li>
        {% endfor %}
           </ul>
    {% endif %}
</div>
</div>
    </div></div>

{% endblock group_content %}



