{% extends "groups/group_detail_base.html" %}
{% load static %}
{% load staticfiles %}
{% load i18n %}


{% block pregroup %}
        <h2>Members</h2>
{% endblock pregroup %}

{% block group_content %}
<div class="col-md-8">


{% for site in members_list %}
    <div style="height:300px;width:200px">
<ul class="list-group">
      <li class="list-group-item">
        <a class="follow_h2" href="{% url 'accounts:profile' username=site.user.username %}">{{ site.user.username }}</a>
 <div style="font-size:15px;color: #999;">{{ site.user.first_name }}{{ site.user.last_name }}
 <br>{{ site.date }}
 </div>
</ul>
{% endfor %}

    </div>
</div></div>

{% endblock group_content %}