{%  extends "accounts/profile_base.html" %}
{% load staticfiles %}


{% block head %}
      {% load static %}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="{% static 'accounts/js/accounts.js' %}"></script>
       <script src="{% static 'posts/js/posts.js' %}"></script>
{% endblock head %}

 {% block profile_content %}



     {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

   <form enctype="multipart/form-data" method="POST">
       {% csrf_token %}
         {% for field in form.visible_fields %}

  <div class="form-group">
 <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
    <input class="form-control" style="width: 35%;"  placeholder={{ field }}
               {{ field.errors }}
  </div>  {% endfor %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>





{% endblock %}

<Style>
    .form-control {
    width: 35% !important;
    }
</Style>