{%  extends "accounts/profile_base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head %}
      {% load static %}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="{% static 'accounts/js/accounts.js' %}"></script>
       <script src="{% static 'posts/js/posts.js' %}"></script>
{% endblock head %}

 {% block profile_content %}



  <form method="POST"  id="groupForm" style="width: 35% !important;">
  	{% csrf_token %}
  	{% bootstrap_form form %}
  	<input type="submit" value="Create" class="btn btn-primary btn-large">
  </form>



</form>





{% endblock %}

<Style>
    .form-control {
        width: 35% !important;
    }
</Style>