{%  extends "accounts/profile_base.html" %}
{% load staticfiles %}


{% block head %}
      {% load static %}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="{% static 'accounts/js/accounts.js' %}"></script>
       <script src="{% static 'posts/js/posts.js' %}"></script>
{% endblock head %}

 {% block profile_content %}

    <h3>Add new weighing</h3>
    <form enctype="multipart/form-data" method="POST">
        {%  csrf_token %}
        {{ form.as_p }}
        <input type="submit" class='bth bth default'  value="Update">
    </form>



{% endblock %}
