{% extends  "base.html" %}
{% load staticfiles %}
{% block head %}
   <!-- JAVA SCRIPT FILES -->
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="{% static 'accounts/js/accounts.js' %}"></script>
{% endblock head %}

{% block content %}
{% if request.user.is_superuser %}
               <h2>Export Report</h2>
       <ul class="list-group">
        <li class="list-group-item">
     <a href="{% url 'accounts:all_users_report' %}">Current users progress report</a>

  </li>

           <br>
  <li class="list-group-item">
<form role="form" method="post" action="{% url 'accounts:activity_log_report' %}">
 {% csrf_token %}
    <p class="report">Activity Log of all users</p>
           <label for="startDate">Filter by month: </label>
     <input name="timestamp" id="startDate" class="date-picker" />
 </form>
</li>
           </ul>
    {% endif %}

{% endblock %}