{%  extends "accounts/profile_base.html" %}
{% load staticfiles %}
{% load i18n %}




 {% block profile_content %}


<div class="container" style="margin-right: -50px;">
  <div class="row" >
    <h1>Edit</h1>
   <form enctype="multipart/form-data" method="POST">
       {% csrf_token %}
         {% for field in user_form_edit.visible_fields %}
  <div class="form-group">
 <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
    <input class="form-control" style="width: 35%;"  placeholder={{ field }}
  </div>{% endfor %}
   <input type="file" id="btn btn-default" name="profile_pic" class="form-control-file" placeholder="Upload new picture"  id="btn-upload-picture">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
   </div> </div>





<div class="col-md-3">
<div class="list-group" style="width:70%; margin-left: 309%;margin-top: -100%;">
  <a href="{% url 'accounts:edit_profile' username=user.username %}" class="list-group-item">Profile</a>
  <a href="{% url 'accounts:edit_personal_profile' username=user.username %}"  class="list-group-item">Personal</a>
</div></div>

{% endblock %}



<Style>
    .form-control {
    width: 35% !important;
    }
</Style>