{%  extends "accounts/profile_base.html" %}
{% load static %}
{% load staticfiles %}


{% block head %}
    <!-- JAVA SCRIPT FILES -->
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="{% static 'accounts/js/accounts.js' %}"></script>
       <!-- fusioncharts -->
     <script src="{% static "accounts/js/fusioncharts.js" %}"></script>
     <script src="{% static "accounts/js/fusioncharts.theme.fint.js" %}"></script>
   <script src="{% static "accounts/js/fusioncharts.widgets.js" %}"></script>
{% endblock head %}

 {% block profile_content %}


     <h2>Dashboard</h2>

     <p>Your weight loss percentgae: {{ value }}</p>
     <br>



 <div id="chart-5" style="width: 100px; height: 100px;display: inline-block; margin-left: -4%;">
        {{ output5|safe }}
    </div>
 <div id="chart-6" style="width: 100px; height: 100px; display: inline-block;margin-right:43%; float:right;">
        {{ output6|safe }}
    </div>


<br><br><br><br><br><br><br><br><br><br>
      <div>
<div style="width: 100px; height: 100px;display: inline-block;">
         <form role="form" method="post"  action="{% url 'accounts:chart' username=user.username %}">
 {% csrf_token %}
           <label for="startDate">Filter by month :</label>
     <input name="timestamp" id="startDate" class="date-picker" />
        </form></div>

         <div style="width: 100px; height: 100px; display: inline-block;  margin-left: 8%;">
         <form role="form" method="get"  action="{% url 'accounts:chart' username=user.username %}">
 {% csrf_token %}
           <label for="startDate">Filter by year :</label>
     <input name="year" id="startDate1" class="date-picker1" />
 </form></div> </div>

<div>

     <div>
         <div id="chart-1" style="width: 100px; height: 100px;display: inline-block; margin-left: -4%;">
        {{ output|safe }}
    </div>
         <div id="chart-2" style="width: 100px; height: 100px; display: inline-block;margin-right:43%; float:right;">

        {{ output2|safe }}
    </div>
         <br><br>  <br><br><br><br>
         <center>
              <div id="chart-3" style="margin-top: 14%;">

        {{ output3|safe }}
    </div>

       </center>



</div>

</div>














{% endblock %}