{%  extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block head %}

 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="{% static 'accounts/js/accounts.js' %}"></script>
       <!-- fusioncharts -->
     <script src="{% static "accounts/js/fusioncharts.js" %}"></script>
           <script src="{% static "accounts/js/fusioncharts.theme.ocean.js" %}"></script>
     <script src="{% static "accounts/js/fusioncharts.theme.fint.js" %}"></script>
   <script src="{% static "accounts/js/fusioncharts.charts.js" %}"></script>
       <script src="{% static "accounts/js/fusioncharts.powercharts.js" %}"></script>
{% endblock head %}


 {% block content %}


{% load custom_tags %}
     {% bmi "%Y-%m-%d %I:%M %p" as bmi %}


     <h2>Weight loss distribution</h2>
<p> Average percentage of weight loss:{{ numbers.avg }}</p>
<p> Median:{{ numbers.med }}</p>
<p> Standard deviation:{{ numbers.std }}</p>
 <p> The lowest percentage of weight loss:{{ numbers.min }}</p>
      <p> The highest percentage of weight loss:{{ numbers.max }}</p>
  <p>Average Bmi : {{ bmi }}</p>
     <br>
         <div id="chart-4" style="width: 100px; height: 100px;;display: inline-block;margin-right:43%; float:right;">
        {{ output4|safe }}
        </div>

 <div id="chart-5" style="width: 100px; height: 100px;display: inline-block; margin-left: -4%;">
        {{ output5|safe }}
    </div>

<br><br><br><br><br><br><br><br><br><br>


<center>
      <div>
<div style="width: 100px; height: 100px;display: inline-block;">
         <form role="form" method="post"  action="{% url 'accounts:dashboard' %}">
 {% csrf_token %}
           <label for="startDate">Filter by month :</label>
     <input name="timestamp" id="startDate" class="date-picker" />
        </form></div>

         <div style="width: 100px; height: 100px; display: inline-block;  margin-left: 8%;">
         <form role="form" method="get"  action="{% url 'accounts:dashboard' %}">
 {% csrf_token %}
           <label for="startDate">Filter by year :</label>
     <input name="year" id="startDate1" class="date-picker1" />
 </form></div>

      </center>

      </div>
 <div id="chart-7" style="width: 100px; height: 100px;;display: inline-block;margin-right:43%; float:right;">
        {{ output7|safe }}
    </div>
 <div id="chart-8" style="width: 100px; height: 100px;display: inline-block; margin-left: -4%;">
        {{ output8|safe }}
    </div>



{% endblock content %}