{%  extends "accounts/profile_base.html" %}
{% load staticfiles %}
{% load i18n %}


 {% block profile_content %}

 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="{% static 'accounts/js/accounts.js' %}"></script>




<div class="container" style="margin-right: -50px;">
  <div class="row" >
    <h1>Edit</h1>
   <form enctype="multipart/form-data" method="POST">
       {% csrf_token %}
         {% for field in profile_form.visible_fields %}
  <div class="form-group">
 <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
    <input class="form-control" style="width: 35%;"  placeholder={{ field }}
  </div>{% endfor %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
   </div> </div>





<div class="col-md-3">
<div class="list-group" style="width:70%; margin-left: 309%;margin-top: -74%;">
  <a href="/user/settings/profile/edit/" class="list-group-item">Profile</a>
  <a href="{% url 'accounts:edit_personal_profile' username=user.username %}"  class="list-group-item">Personal</a>
</div></div>


{% endblock %}
<Style>
    .form-control {
    width: 35% !important;
    }
</Style>