{%  extends "accounts/profile_base.html" %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}


{% block head %}
  <link href="{% static 'posts/css/posts.css' %}?v=1" rel="stylesheet">
      <link href="{% static 'accounts/css/css.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'accounts/js/filter.js' %}?v=1"></script>
     <script src="{% static "accounts/js/fusioncharts.js" %}"></script>
     <script src="{% static "accounts/js/fusioncharts.theme.fint.js" %}"></script>
   <script src="{% static "accounts/js/fusioncharts.widgets.js" %}"></script>
{% endblock head %}

<div class="container">
  <div class="row">

 {% block profile_content %}
   {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

      <div id="chart-9" style="display:inline-block; float:right;margin-right: 22%;">
        {{ output9|safe }}
    </div>
     <div  style="display:inline-block">
       <h2>Personal Record</h2>

<ul style="list-style: none;">
    <li> First Name: {{ user.first_name }} </li>
    <li> Last Name:  {{ user.last_name }}  </li>
    <li> Birth date:  {{ user.userprofileinfo.birth_date }}  </li>
    <li> Height:  {{ user.userprofileinfo.height }}  </li>
    <li> Weight:  {{ user.userprofileinfo.current_weight }} </li>
    <li> Body fat:  {{ user.userprofileinfo.body_fat }}%  </li>
     <li> Bmi:  {{ bmi }}  </li>
  <li> Target weight:  {{ user.userprofileinfo.goal }}  </li>
</ul>
     </div>

     <div>
     <a href="{% url 'accounts:reports_page' username=user.username %}" class="btn btn-default btn-cancel-compose" style="display: inline-block;margin-top: -18%;margin-left:21%;background:white; color: #1879cd;"><span class="glyphicon glyphicon-ok-circle"></span>Export Report</a>
</div>
 <h2>Weight History: </h2>
 <a href="{% url 'accounts:add_weight' username=user.username %}" class="btn btn-default btn-cancel-compose" style="margin-top: -3%;margin-left:21%;background:white; color: #1879cd;"><span class="glyphicon glyphicon-ok-circle"></span>Add a new weighing</a>

<div class="a">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="filter.." title="Type in a name">
 </div>

<center>
   <table class="table" id="myTable" style="max-width: 50%;">
           <tr class="header">
          <th scope="col">Date</th>
          <th scope="col">Weight</th>
          <th scope="col">Body Fat</th>    </tr>

 <tbody>
     {% for w in user.userprofileinfo.weight_history.all %}

      <tr> <td><b>{{ w.timestamp | date:"F d Y"  }}<b>
                    <a href="{% url 'accounts:delete_weight' pk=w.pk username=user.username%}"
                 title="delete" class="btn btn-simple"> <span class="glyphicon glyphicon-remove remove-feed" title="{% trans 'Click to remove this column' %}"> </span>
				</a></td>
       <td scope="row">{{ w.weight}} Kg </td>
           <td scope="row">{{ w.body_fat}} % </td>
     {% endfor %}</tr>




  </tbody>
</table>
</center>

</div>

  <style>
   .raphael-group-30-pointers{
       display: none;
  }
  .raphael-group-25-pointers{
  display: none;
     }
.raphael-group-3-creditgroup{
 display: none;
}

  </style>


{% endblock %}

