{%  extends "accounts/profile_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block head %}
  <link href="{% static 'posts/css/posts.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'posts/js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'posts/js/posts.js' %}?v=1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{% static 'posts/js/posts.js' %}" type="text/javascript"></script>
  <script src="{% static 'posts/js/posts.js' %}"></script>



{% endblock head %}

 {% block profile_content %}
<div class="container">
  <div class="row">

       <h2>Personal Record</h2>

<ul>
    <li> First Name: {{ user.first_name }} </li>
    <li> Last Name:  {{ user.last_name }}  </li>
    <li> Birth date:  {{ user.userprofileinfo.birth_date }}  </li>
    <li> Height:  {{ user.userprofileinfo.height }}  </li>
    <li> Weight:  {{ user.userprofileinfo.current_weight }} </li>
    <li> Body fat:  {{ user.userprofileinfo.body_fat }}%  </li>
     <li> Bmi:  {{ bmi }}  </li>
</ul>
            <h2>Weight History: </h2>

        <table class="table">

  <thead class="thead-dark">
  <thead class="thead-dark">
    <tr>
              <a href="{% url 'accounts:add_weight' username=user.username %}" class="btn btn-default btn-cancel-compose" style="margin-top: -77px;margin-left: 245px;background:white; color: #1879cd;"><span class="glyphicon glyphicon-ok-circle"></span>Add</a>

          {% for w in user.userprofileinfo.weight_history.all %}

      <th scope="col">{{ w.timestamp | date:"F d Y"  }}

                    <a href="{% url 'accounts:delete_weight' pk=w.pk %}"
                 title="delete" class="btn btn-simple">
					   <span class="glyphicon glyphicon-remove remove-feed" title="{% trans 'Click to remove this column' %}"> </span>
				</a>
      </th>
         {% endfor %}
    </tr>
  </thead>
 <tbody>

    <tr>
         {% for w in user.userprofileinfo.weight_history.all %}
             <th scope="row">{{ w.weight}} Kg </th>
         {% endfor %}

 </tr>
 <tr>
  {% for w in user.userprofileinfo.weight_history.all %}
             <th scope="row">{{ w.body_fat}} % </th>

         {% endfor %}
 </tr>
  </tbody>
</table>


{% endblock %}




