{%  extends "accounts/profile_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block head %}
  <link href="{% static 'posts/css/posts.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'posts/js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'posts/js/posts.js' %}?v=1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{% static 'posts/js/posts.js' %}" type="text/javascript"></script>
  <script src="{% static 'posts/js/posts.js' %}"></script>
     <link href="{% static 'accounts/css/css.css' %}?v=1" rel="stylesheet">


{% endblock head %}


   {% block profile_content %}

    <div class="row">
    <div class="col-md-6 col-md-offset-3">

 {% if  user.userprofileinfo.profile_pic %}
            <img  style="margin-left: -53%;" src ="{{ user.userprofileinfo.profile_pic.url }}" width="240">
        {% endif %}

<ul style="margin-top: -25%;">
    <h3>{{ user.first_name }} {{ user.last_name }} </h3>

     {{ user.email }}

<p style="font-size:16px;">
 <span>Following</span>&nbsp;&nbsp; <b><a style="color:black" onclick="document.getElementById('modal-wrapper').style.display='block'">{{ my_groups.count }}<b></a>
</p>



</ul>

        <div id="modal-wrapper" class="modal">
        <div class="modal-content animate" style="width: 335px; margin-top: 40px; min-height:500px; margin-left:36%">
        <div class="imgcontainer">

        <span style="margin-top: -7%;" onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
         <b><h5 class="follow_h">likes</h5></b>
            {% for site in my_groups %}
             <ul class="list-group list-group-flush">
         <li class="list-group-item">
             <a class="follow_h2">{{ site.group.name }}</a>
         </li>
            </ul>
        {% endfor %}
        </div>
        </div></div>
{% endblock %}






