{% extends "base.html" %}
     {% load static %}


{% block content %}

{% block head %}


      <!-- style -->

{% endblock head %}

   <div class="brand"><div class="brand__cover" style="background-image: url(/media/bannr/couchto5k_banner_1170x250.jpg);"></div><div class="brand__cover-overlay"></div><div class="brand-row brand__inner"><div class="brand__logo"><div class="brand__logo-content">
      <img src="/media/banner/bright-bubble-color-137132.jpg" class="brand__logo-img" style="width:112%;margin-top: -20px;margin-left: -87px;height: 281px;" alt="Couch to 5K">
  </div></div><div class="brand__name"><h1 class="group_name" style="margin-top: -47px;margin-left: 100px;"></h1></div><div class="brand__actions">
  </div></div><div class="brand__name"></div><div class="brand__actions">
         <nav class="navbar navbar-default" style="margin-top: -22px;">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" style="background:white; id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          </ul>
        </li>
      <ul class="nav navbar-nav navbar-left">
          <li><a href="{% url 'accounts:profile' username=user.username %}">Profile</a></li>


  {% if request.user == user  or request.user.is_superuser %}
     <li>  <a href="{% url 'accounts:personal_profile' username=user.username %}">Personal Profile</a></li>
       <li><a href="{% url 'nutrition:list' username=user.username%}">Nutrition</a>
          <li><a href="{% url 'workout:overview' username=user.username %}"> Workout</a> </li>
         <li>  <a href="{% url 'accounts:chart' username=user.username %}">Visual Progress</a></li>



      </ul>
          <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'accounts:edit_profile' username=user.username %}">Settings</a></li>
    {% endif %}
             </ul>

</nav>

  </div>

   </div>
<div class="posts-page">
    <div class="container">
        <div class="row">

    {% block profile_content %}

    {% endblock %}
  {% block post_content %}

  {% endblock post_content %}




  </div>
</div>
</div>
{% endblock %}

