{%  extends "accounts/profile_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block head %}
  <link href="{% static 'posts/css/posts.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'posts/js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'posts/js/posts.js' %}?v=1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{% static 'posts/js/posts.js' %}" type="text/javascript"></script>
  <script src="{% static 'posts/js/posts.js' %}"></script>



{% endblock head %}


   {% block profile_content %}

    <div class="row">
    <div class="col-md-6 col-md-offset-3">

 {% if  user.userprofileinfo.profile_pic %}
            <img  style="margin-left: -53%;" src ="{{ user.userprofileinfo.profile_pic.url }}" width="240">
        {% endif %}

<ul style="margin-top: -25%;">
    <h3>{{ user.first_name }} {{ user.last_name }} </h3>

     {{ user.email }}

</ul>

{% endblock %}





