{%  extends "accounts/profile_base.html" %}

{% load staticfiles %}

{% block head %}
   <!-- JAVA SCRIPT FILES -->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">
   <script src="{% static 'accounts/js/accounts.js' %}"></script>
{% endblock head %}


<style>
.report {
    font-size: 18px;
}
  .date-picker2{
          margin-left: 1%;
  }


</style>

 {% block profile_content %}
    <h2>Export Report</h2>
       <ul class="list-group">
      <li class="list-group-item">
<form role="form" method="post" action="{% url 'accounts:report' username=user.username %}">
 {% csrf_token %}
    <p class="report">Progress Report of {{ user.username }}</p>
           <label for="startDate">Filter by month: </label>
     <input name="timestamp" id="startDate" class="date-picker" />
 </form>
          <br>
     <form role="form" method="get" action="{% url 'accounts:report' username=user.username %}">
 {% csrf_token %}
           <label for="startDate">Filter by year: </label>
     <input name="year" id="startDate1" class="date-picker1"  style=" margin-left: 1%;" />
 </form>

</li>
  <br>

       <li class="list-group-item">
<form role="form" method="post" action="#">
 {% csrf_token %}
    <p class="report">Nutrition Report</p>
           <label for="startDate">Filter by month: </label>
     <input name="timestamp" id="startDate" class="date-picker" />
 </form>
</li>
           <br>



{
       </ul>

{% endblock  %}