{% extends  "workout/workout_base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block content %}
    {% if user.is_authenticated %}
  <h1 class="underline">Most recent</h1>
        <a href="{{ weekly.get_absolute_url }}" class="list-group-item">
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                <h4 class="list-group-item-heading">{{ weekly.title }}</h4>
                <p class="list-group-item-text"><b>Workout day:</b>&nbsp; {{ weekly.get_day_display }}</p>
                <p class="list-group-item-text"><b>Created on:</b>&nbsp;{{ weekly.creation_date }}</p>
            </a>

    <h1 class="underline">Your workouts</h1>
    <div class="list-group">
    {% if request.user.is_superuser  %}
                    {% if messages %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                    {% for message in messages %}
                    <p {% if message.tags == "success" %} class="alert alert-success" {% endif %}> {{ message }}</p>
                    {% endfor %}
            </div>
        </div>
    {% endif %}
        {% endif %}
        {% for workout in workouts %}
            <a href="{{ workout.get_absolute_url }}" class="list-group-item">
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>

                <h4 class="list-group-item-heading">{{ workout.title }}</h4>
                <p class="list-group-item-text"><b>Workout day:</b>&nbsp; {{ workout.get_day_display }}</p>
                <p class="list-group-item-text"><b>Created on:</b>&nbsp;{{ workout.creation_date }}</p>
            </a>
        {% empty %}
            {% if request.user.is_superuser %}
            <a href="{% url 'workout:add_workout' username=user.username %}" class="list-group-item">
            {% trans "No workouts found." %}<br>
            {% trans "Add one now." %}
            </a>
        {% else %}
              {% trans "No workouts added yet." %}
        {% endif %}
    {% endfor %}
    </div>


     {% if request.user.is_superuser%}
         <div class="col-sm-12">
            <br>
            <a href="{% url 'workout:add_workout' username=user.username %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Plan
                </button>
            </a>
         </div>
            {% endif %}
    {% endif %}

{% endblock %}

