{% extends  "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block content %}

    <table class="table table-striped" style="position: absolute; top: 10%;  left: 0; right: 0;" table-layout: fixed;>
        <thead style="background-color: #101010; color: #ffffff;">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Full Name</th>
            <th scope="col">Title</th>
            <th scope="col">Workout Day</th>
            <th scope="col">Created On</th>
            <th></th>
            <th scope="col">Actions</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for workout in workouts %}
        <tr>
            <td>{{ workout.user.username }}</td>
            <td>{{ workout.user.get_full_name }}</td>
            <td>{{ workout.title }}</td>
            <td>{{ workout.get_day_display }}</td>
            <td>{{ workout.creation_date }}</td>
            <td><a href="{{ workout.get_absolute_url }}"><button class="btn btn-info">View</button></a></td>
            <td><a href="{% url 'workout:edit_workout' workout.id %}"><button class="btn btn-warning">Edit</button></a></td>
            <td><a href="{% url 'workout:delete_workout' workout.id %}"><button class="btn btn-danger">Delete</button></a></td>
        </tr>
        {% endfor %}
        </tbody>
         <tr>
        <td class="">
            <a href="{% url 'workout:add_workout' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Plan
                </button>
            </a>
         </td>
    </tr>
    </table>


{% endblock %}

