{% load notification_tags %}
{% load staticfiles %}
{% load bootstrap3 %}
{% include_notify_js_variables %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Network</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
 <link href="{% static 'accounts/css/base.css' %}?v=1" rel="stylesheet">

    <!-- for admin widgets for input -->
  <!--   <script type="text/javascript" src="/admin/jsi18n/"></script>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <!-- admin widgets for input -->
     <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
    {{ form.media }}

</head>


<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
         <a class="navbar-brand" style="color: #52C691;" href="{% url 'home' %}">HealthyHipe</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav">
          </ul>
        </li>
      <ul class="nav navbar-nav navbar-left">
          {% if user.is_authenticated %}
              {% if request.user.is_superuser %}
                 <li><a href="\admin"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;Admin Dashboard</a></li>
               <li><a href="{% url 'accounts:manager' %}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;Manage</a></li>
               {% endif %}


 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span><span class="label label-primary label-indicator animation-floating notification-counter"
                 style="  background-color: #FC4274; border-radius: 1.25em;">{{  user.notifications.unread.count }}</span></a>
          <ul class="dropdown-menu notify-drop">
            <div class="notify-drop-title">
                Notifications
            </div>
            <div class="drop-content">
  <div class="notification-box-list">
{% user_notifications %}

</div>

            </div>
           <div class="notify-drop-footer text-center">
            	<a href="/notifications/all"><i class="fa fa-eye"></i>See all</a>
            </div>
        </ul>
 </li>

                <li>
                    <a href="{% url 'groups:all' %}"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Groups</a>
                </li>

                <li>
                    <a href="{% url 'nutrition:list' username=request.user.username %}"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;Nutrition</a>
                </li>
                <li>
                    <a href="{% url 'workout:overview' username=request.user.username %}"><span class="glyphicon glyphicon-scale" aria-hidden="true"></span>&nbsp;Workout</a>
                </li>
               </li>
                  <li><a href="{% url 'messenger:messages_list' %}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;Chat</a>
                </li>
              <li>
                    <a href="{% url 'accounts:all_users' %}"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>&nbsp;Friends</a>
              </li>
              <li>
                    <a href="{% url 'appointments:appoint' username=request.user.username %}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Appointments</a>
              </li>
              </ul>
      <ul class="nav navbar-nav navbar-right">

   <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ request.user.username }}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a href="{% url 'accounts:profile' username=request.user.username %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Profile</a></li>
         <li><a href="{% url 'accounts:edit_profile' username=user.username %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp; Settings</a></li>
         <li><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout</a>
          </li>
        </ul>
      </li>
      </ul>
                {% else %}
                <li>
                    <a href="{% url 'accounts:login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Login</a>
                </li>
                <li>
                    <a href="{% url 'accounts:signup' %}">Sign Up</a>
                </li>
{% endif %}

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container mycontent">
    {% block head %}{% endblock head %}
        {% block content %}{% endblock content %}




{% block modal %}{% endblock modal %}

    </div>

    <canvas id="canvas"></canvas>

  </body>


<script>

     $(".dropdown-toggle").click(function () {
         var mark_all_post_data = {
            action: 'read',
            csrftoken: csrftoken
        };

        $.ajax({
            type: 'POST',
            url: markAllNotificationUrl,
            data: mark_all_post_data,
            success: function (response) {
                console.log(response);
                markAllSuccess(response);
            }
        })
        ;
    });

</script>

</html>

</body>
<!-- Custom JS File -->

</script>
<script src="{% static "notify/notifyX.js" %}"></script>
  <script src="{% static 'posts/js/posts.js' %}?v=1"></script>

<Style>
    .mark-notification{
    .display: none;
}

 .delete-notification{
 display: none;
}
</Style>



</html>
