{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
    <title>FC-python wrapper</title>
       {% block content %}
    {% load static %}
    <script src="{% static "accounts/js/fusioncharts.js" %}"></script>
           <script src="{% static "accounts/js/fusioncharts.theme.ocean.js" %}"></script>
   <script src="{% static "accounts/js/fusioncharts.charts.js" %}"></script>

           </head>
  <body>

  <form role="form" method="post" action="{% url 'filter' %}">
 {% csrf_token %}
           <label for="startDate">Date :</label>
     <input name="timestamp" id="startDate" class="date-picker" />
 </form>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">
    <script type="text/javascript">
        $(function() {
            $('.date-picker').datepicker( {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            onClose: function(dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
            });
             $('.date-picker').focus(function () {
	        	$(".ui-datepicker-calendar").hide();
			});
        });
    </script>


    <div id="chart-1">
        {{ output|safe }}
    </div>




  </body>
{% endblock content %}




</html>

