<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


<div class='row'>
<div class='col-sm-12 '>

   <div class='post-detail-item'>{{ posts.comments.all }}</div>

    <hr/>
    <br/>

    <div>

        <p class='lead'>Comments</p>
        {% if request.user.is_authenticated %}
        <form method="POST" action="."> {% csrf_token %}
            {{ comment_form.as_p }}
            <input type='submit' value='Post comment' class='btn btn-default'>
        </form>
        {% else %}
        <p>You must login to comment </p>
        {% endif %}
        <hr/>


    </div>
        </div></div></div></div>


</head>
<body>

</body>
</html>