{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}



{% block head %}
      <link href="{% static 'posts/css/posts.css' %}?v=1" rel="stylesheet">
     <link href="{% static 'accounts/css/css.css' %}?v=1" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

  <div class="feed-container">
<div class="post media">
 {% if request.user.is_authenticated %}
      <a href="{% url 'accounts:profile' username=post.user.username %}">{{ post.user.username }}
         {% if  post.user.userprofileinfo.profile_pic %}
          <img src ="{{ post.user.userprofileinfo.profile_pic.url }}" class="user">
               {% else %}
                       <img src="/media/user_pic/user.jpg" class="user">
                  {% endif %}
              </a>
		<small>	<time class="time" ><a style="color: #616770;" href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
                {{ post.created_at | naturaltime  }}</a>
            </time>
			{% if post.group %}
			<span class="group-name">in <a style="color: #616770;" href="{% url 'groups:single' slug=post.group.slug %}">{{ post.group.name }}</a></span>
			{% endif %}</small>

     {% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
					   <span class="glyphicon glyphicon-remove remove-feed" title="{% trans 'Click to remove this feed' %}"> </span>
				</a>
			{% endif %}


    <div class="post">
	<p>{{ post.message_html|safe }}</p>
        {% if  post.post_pic %}
            <img src ="{{ post.post_pic.url }}" width="240">
        {% endif %}
    <br>

      <div class="interaction">


        {% if user in post.likes.all %}

         	<a href="#" style="text-decoration: none;" class="like unlike" data-href='{{ post.get_api_like_url }}' data-likes='{{ post.likes.count }}' href='{{ post.get_like_url }}'>
               <span class="glyphicon glyphicon-thumbs-up"></span> <span class="like-count" id="u"><a class="like-count1" data-toggle="modal" data-target="#myModal{{ post.pk }}"> {{ post.likes.count }} <span> {% trans 'Unlike' %}

          </a>
        {% else %}
        	<a href="#" style="text-decoration: none;" class="like" data-href='{{ post.get_api_like_url }}' data-likes='{{ post.likes.count }}' href='{{ post.get_like_url }}'>
        <span class="glyphicon glyphicon-thumbs-up"></span> <span class="like-count" id="u"><a class="like-count1" data-toggle="modal" data-target="#myModal{{ post.pk }}"> {{ post.likes.count }} <span> {% trans 'Like' %}
          </a>
        {% endif %}

  {% if post.user.is_superuser %}
            <span class="label label-default">Administrator</span>
            {% endif %}
              <a href="#" style="text-decoration: none;" class="comment">
             <span class="glyphicon glyphicon-comment"></span> {% trans 'Comment' %}
            (<span class="comment-count">{{ post.comment.count }}</span>)
             </a>
                  <!-- Modal -->
  <div class="modal" id="myModal{{ post.pk }}" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" style="width: 400px;height: 400px;">
        <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
         <b><h5 class="follow_h" style="color:black">likes</h5></b>
        </div>
            {% for user in post.likes.all %}
             <ul class="list-group list-group-flush">
         <li class="list-group-item" style="text-align:center;margin-top: -19px;">
                <a class="follow_h2" style="font-size:15px" href="{% url 'accounts:profile' username=post.user.username %}">{{ user.username }}</a>
             <div style="font-size:15px;color: #999;">{{ user.first_name }}{{ user.last_name }}</div>
         </li>
            </ul>
        {% endfor %}
        </div>
        </div>    </div>


       </div>

 <div class="comments" style="display: none;">
  <form role="form" method="post" action="#" id="comment-form">
 {% csrf_token %}
 <input type="hidden" class="post-id" name="post_id" value="{{ post.pk }}"  onsubmit="return false">
   <input type="text" class="form-control input-sm" placeholder="{% trans 'leave a comment...' %}" name="content" maxlength="255" id="comment-text">
 </form>

 <ol class="clearfix">

     {% for comment in post.comment.all %}
            <li>
     {% if comment.user == user %}
  <span class="glyphicon glyphicon-remove remove-feed" title="{% trans 'Click to remove this comment' %}"></span>
             {% endif %}
     <div>{{ comment.content }}</div>
      <a href="{% url 'accounts:profile' username=post.user.username %}">
          {% if  comment.user.userprofileinfo.profile_pic %}
          <img src ="{{ comment.user.userprofileinfo.profile_pic.url }}" class="user-comment">
               {% else %}
                       <img src="/media/user_pic/user.jpg" class="user-comment">
                  {% endif %}
    </a>
    <h4>
      <a href="{% url 'accounts:profile' username=post.user.username %}">
        {{ comment.user.username }}
      </a>
      <small>{{ comment.timestamp|naturaltime }}</small>
    </h4>
</li>
{% empty %}
  <li class="empty">{% trans 'Be the first one to comment' %}</li>
   {% endfor %}
                    </ol></div></div></div></div>

	{% endif %}


