{% load staticfiles %}
{% load i18n %}
{% load humanize %}



{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% endblock head %}


  <div class="feed-container">
<div class="post media">
 {% if request.user.is_authenticated %}
    <div class="post">
	<h3>{{ post.message_html|safe }}</h3>
        {% if  post.post_pic %}
            <img src ="{{ post.post_pic.url }}" width="240">
        {% endif %}
    <br>
        <strong>  <a href="{% url 'accounts:profile' username=post.user.username %}">{{ post.user.username }}</a></strong>
     	<span class="username"><a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
			<time class="time"><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a></time>
			{% if post.group %}
			<span class="group-name">in <a href="#">{{ post.group.name }}</a></span>
			{% endif %}
     {% if user.is_authenticated and post.user == user and not hide_delete %}
           <span class="glyphicon glyphicon-remove remove-feed" title="{% trans 'Click to remove this feed' %}">
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
					<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
					<span class="text-danger icon-label">Delete</span>
				</a>
         </span>
			{% endif %}


      <div class="interaction">
        {% if user in post.likes.all %}
         	<a href="{% url "posts:like" slug=post.slug %}" style="text-decoration: none;" class="like unlike">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="text">{% trans 'Unlike' %}</span>
            (<span class="like-count">{{ post.likes.count }}</span>)
          </a>
        {% else %}
        	<a href="{% url "posts:like" slug=post.slug %}" style="text-decoration: none;" class="like">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="text">{% trans 'Like' %}</span>
            (<span class="like-count"> {{ post.likes.count }}</span>)
          </a>
        {% endif %}
      <a href="#" style="text-decoration: none;" class="comment">
             <span class="glyphicon glyphicon-comment"></span> {% trans 'Comment' %}
            (<span class="comment-count">{{ post.comment.count }}</span>)
             </a>
       </div>
 <div class="comments" style="display: none;">
          <form role="form" method="post" action="{% url 'posts:comment' pk=post.pk %}">
              {% csrf_token %}
              <input type="hidden" name="feed" value="{{ post.pk }}" onsubmit="return false">
              <input type="text" class="form-control input-sm" placeholder="{% trans 'Write a comment...' %}" name="content" maxlength="255">
          </form>
                <ul class="list-group list-group-flush">
                    {% for comment in post.comment.all %}
                             {% if comment.user == user %}
                                 <span class="glyphicon glyphicon-remove remove-feed" title="{% trans 'Click to remove this comment' %}"></span>
                                {% endif %}
                    <li feed-id="{{ comment.pk }}" csrf="{{ csrf_token }}">
                        <div>{{ comment.content }}</div>
    <h4>
      <a href="{% url 'accounts:profile' username=post.user.username %}">
        {{ comment.user.username }}
      </a>
      <small>{{ comment.timestamp|naturaltime }}</small>
    </h4>

  </li>
{% empty %}
  <li class="empty">{% trans 'Be the first one to comment' %}</li>
   {% endfor %}
                    <ul/></div></div></div></div>

	{% endif %}




