{% extends "posts/post_base.html" %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block head %}
     <link href="{% static 'posts/css/posts.css' %}?v=1" rel="stylesheet">
      <script src="{% static 'posts/js/jquery.bullseye-1.0-min.js' %}"></script>
      <link href="{% static 'accounts/css/css.css' %}?v=1" rel="stylesheet">
         <link href="{% static 'accounts/css/css.css' %}?v=1" rel="stylesheet">
{% endblock head %}


{% block post_content %}

 {% if request.user.is_authenticated %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default panel-feed">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Latest posts' %}</h3>
        </div>
        <div class="panel-body">
       <div class="stream-update">
            <a href="#"><span class="new-posts"></span> {% trans 'new posts' %}</a>
          </div>



<ul class="stream">

    {% for post in post_list %}
<li feed-id="{{ post.pk }}" csrf="{{ csrf_token }}">  {% include "posts/_post.html"  %} </li>
    {% endfor %}
 </ul>
    </div></div></div></div>
    {% endif %}

  <script>
     $(document).ready(function(){
          function updateText(btn, newCount, verb){
          btn.text(newCount + " " + verb)
          btn.attr("data-likes", newCount)
      }
      $(".like").click(function(e){
        e.preventDefault()
        var this_ = $(this)
        var likeUrl = this_.attr("data-href")
        var likeCount = parseInt(this_.attr("data-likes")) | 0
        var addLike = likeCount + 1
        var removeLike = likeCount - 1
        if (likeUrl){
           $.ajax({
            url: likeUrl,
            method: "GET",
            data: {},
            success: function(data){
              console.log(data)
              var newLikes;
              if (data.liked){
                  updateText(this_, addLike, "Unlike")
              } else {
                  updateText(this_, removeLike, "Like")
                  // remove one like
              }
            }, error: function(error){
              console.log(error)
              console.log("error")
            }
          })
        }

      })
  })
    </script>
{% endblock post_content %}

  </head>