{% extends "posts/post_base.html" %}

{% load static %}
{% load staticfiles %}
{% load i18n %}


{% block head %}
  <link href="{% static 'posts/css/posts.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'posts/js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'posts/js/posts.js' %}?v=1"></script>
         <link href="{% static 'accounts/css/css.css' %}?v=1" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock head %}


{% block prepost %}
<div class="col-md-4">
	<h1>@{{ post_user.username }}</h1>
	<p>Post History</p>
</div>
{% endblock %}

{% block post_content %}
    <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default panel-feed">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'User posts' %}</h3>
        </div>
        <div class="panel-body">
       <div class="stream-update">
            <a href="#"><span class="new-posts"></span> {% trans 'new posts' %}</a>
          </div>
<ul class="stream">
	{% for post in post_list %}
	<li>	{% include "posts/_post.html" %} </li>
	{% endfor %}
  </ul>
    </div></div></div></div>


{% endblock post_content %}
